<ul>
    <li>
        <h3>SimpleTable</h3>
        <ul>
            <li><a href="{{ path('YuccaDemoBundle_simple_list') }}">List</a></li>
            <li><a href="{{ path('YuccaDemoBundle_simple_form') }}">Form</a></li>
        </ul>
    </li>
    <li>
        <h3>DoubleTable</h3>
        <ul>
            <li><a href="{{ path('YuccaDemoBundle_double_list') }}">List</a></li>
            <li><a href="{{ path('YuccaDemoBundle_double_form') }}">Form</a></li>
        </ul>
    </li>
    <li>
        <h3>Cached result</h3>
        <ul>
            <li><a href="{{ path('YuccaDemoBundle_cached_list') }}">List</a></li>
            <li><a href="{{ path('YuccaDemoBundle_cached_form') }}">Form</a></li>
        </ul>
    </li>
    <li>
        <h3>Multiple row</h3>
        <ul>
            <li><a href="{{ path('YuccaDemoBundle_multiple_list') }}">List</a></li>
            <li><a href="{{ path('YuccaDemoBundle_multiple_form') }}">Form</a></li>
        </ul>
    </li>
</ul>
