<table>
    <tr>
        <th>ID</th>
        <td>{{ item.getId }}</td>
    </tr>
    <tr>
        <th>FirstName</th>
        <td>{{ item.getFirstName }}</td>
    </tr>
    <tr>
        <th>LastName</th>
        <td>{{ item.getLastName }}</td>
    </tr>
    <tr>
        <th>Login</th>
        <td>{{ item.getLogin }}</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>{{ item.getPassword }}</td>
    </tr>
</table>